/* Card Container Styles */
.card {
  width: 338px;
  padding: 1.25rem;
  background-color: var(--card-background);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.image-container {
  position: relative;
}

.image-container:hover {
  cursor: pointer;
}

.view-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--eth-text-transparent);
  border-radius: 7px;
}

.equilibrium-image {
  width: 100%;
  border-radius: 7px;
}

.card-header {
  font-size: 1.35rem;
  font-weight: var(--weight-thin);
  color: var(--main-card-text);
}

.card-header:hover {
  color: var(--eth-text);
  cursor: pointer;
}

.card-text {
  line-height: 1.75;
  font-weight: var(--weight-thin);
}

.card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card > div > span {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.eth-text {
  font-weight: var(--weight-heavy);
  color: var(--eth-text);
}

.line {
  background-color: var(--line);
  height: 1px;
}

#profile-container {
  justify-content: flex-start;
  gap: 1rem;
  font-size: 0.8rem;
}

.avatar {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.user-text {
  color: var(--main-card-text);
}

.user-text:hover {
  color: var(--eth-text);
  cursor: pointer;
}

/* Miscellaneous Classes For Interactivity */
.hidden {
  display: none;
}
